---
interface Props {}
---

<ul class='list-disc pl-6 space-y-2 mt-4 text-lg font-bold'>
  <li>
    Business
    <ul class='list-disc pl-6 space-y-2'>
      <li>
        BS in Business Administration
        <ul class='list-disc pl-6 space-y-2'>
          <li class='list-inside'>
            Major in:
            <ul class='list-disc pl-6 space-y-2'>
              <li>Marketing Management</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>BS in Business Management</li>
      <li>BS in Entrepreneurial Management</li>
    </ul>
  </li>

  <li>
    Professional & Technical Courses
    <ul class='list-disc pl-6 space-y-2'>
      <li>
        BS in Industrial Technology
        <ul class='list-disc pl-6 space-y-2'>
          <li class='list-inside'>
            Major in:
            <ul class='list-disc pl-6 space-y-2'>
              <li>Automotive Technology</li>
              <li>Electrical Technology</li>
              <li>Electronics Technology</li>
              <li>Refrigeration and Air-conditioning Technology</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li>
    Administration
    <ul class='list-disc pl-6 space-y-2'>
      <li>BS in Office Administration</li>
      <li>BS in Office Management</li>
      <li>BS in Public Administration</li>
    </ul>
  </li>

  <li>
    Social Science
    <ul class='list-disc pl-6 space-y-2'>
      <li>BS in Criminology</li>
      <li>BS in Psychology</li>
      <li>BS in Social Work</li>
    </ul>
  </li>

  <li>
    Engineering
    <ul class='list-disc pl-6 space-y-2'>
      <li>BS in Civil Engineering</li>
      <li>BS in Industrial Engineering</li>
      <li>BS in Mechanical Engineering</li>
    </ul>
  </li>

  <li>
    Tourism, Hospitality & Culinary
    <ul class='list-disc pl-6 space-y-2'>
      <li>BS in Hotel and Restaurant Management</li>
      <li>BS in Tourism Management</li>
      <li>BS in Travel Management</li>
    </ul>
  </li>

  <li>
    IT, Computer Science & Programming
    <ul class='list-disc pl-6 space-y-2'>
      <li>BS in Computer Science</li>
    </ul>
  </li>
</ul>
