---
interface Props {}
---

<ul class='list-disc pl-6 space-y-2 mt-4'>
  <li>
    College of Arts and Sciences(CAS)
    <ul class='list-disc pl-6 space-y-2'>
        <li>Bachelor of Science in Psychology</li>
        <li>Bachelor of Science in Social Work </li>
        <li>Bachelor of Science in Public Administration</li>
        <ul class='list-disc pl-6 space-y-2'>
        </ul>
      </li>
    </ul>
  </li>

  <li>
    College of Business Management (CBM)
    <ul class='list-disc pl-6 space-y-2'>
        <li>Bachelor of Science in Business Administration major in Marketing Management</li> 
        <li>Bachelor of Science in Business Administration major in Human Resources Management</li>
        <li>Bachelor of Science in Office Administration</li>
        <li> Bachelor of Science in Entrepreneurship</li>
        <ul class='list-disc pl-6 space-y-2'>
        </ul>
      </li>
    </ul>
  </li>

  <li>
    College of Criminal Justice(CCJ)
    <ul class='list-disc pl-6 space-y-2'>
      <li>Bachelor of Science in Criminology</li>
    </ul>
  </li>

  <li>
    College of Education
    <ul class='list-disc pl-6 space-y-2'>
      <li>Bachelor of Secondary Education major in English</li>
      <li>Bachelor of Secondary Education major in Mathematics</li>
      <li>Bachelor of Secondary Education major in Science</li>
      <li>Bachelor in Elementary Education</li>
    </ul>
  </li>

  <li>
    College of Engineering and Technology (CET)
    <ul class='list-disc pl-6 space-y-2'>
      <li>Bachelor of Science in Industrial Engineering </li>
      <li>Bachelor of Science in Industrial technology major in Electronics</li>
      <li>Bachelor of Science in Industrial Technology major in Electrical
      <li>Bachelor of Science in Civil Engineering major in Structural Engineering</li>
      <li>Bachelor of Science in Civil Engineering major in Transportation Engineering</li>
      <li>Bachelor of Science in Mechanical Engineering</li>
      </li>
    </ul>
  </li>

  <li>
    College of Hospitality and Tourism Management (CHTM) 
    <ul class='list-disc pl-6 space-y-2'>
      <li>Bachelor of Science in Hospitality Management</li>
      <li>Bachelor of Science in Tourism Management</li>
    </ul>
  </li>

  <li>
    College of Information And Communication Technology
    <ul class='list-disc pl-6 space-y-2'>
      <li>Bachelor of Science in Computer Science</li>
      <li>Bachelor of Science in Information System </li>
    </ul>
  </li>
</ul>
